@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.container {
  margin-left: 254px;
  margin-right: 255px;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.header {
  padding: 10px;
}

.nav-list {
  margin-bottom: 18px;
  list-style-type: none;
  gap: 44px;

}

.nav-list-item {
  padding-bottom: 10px;
  border-bottom: 1px dashed #000000;
}

.nav-list-item a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #4A4D4A;
}

.header-about {
  gap: 77px;
}

.header .company-desc {
  width: 403px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4A4D4A;
}

.header .phone-order {
  gap: 15px;
}

.header .phone-number {
  padding-left: 36px;
  background: url("../public/images/phone.png") no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 37px;
  color: #4A4D4A;
}

.header .call-btn {
  display: block;
  width: 240px;
  padding-top: 10px;
  padding-bottom: 9px;
  background-color: #ffa500;
  border: 1px solid #ffa500;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.header .search-fm {
  width: 690px;

  padding-left: 28px;
  padding-right: 11px;
  border: 1px solid #000000;
}

.header .search-input {
  display: block;
  width: 80%;
  padding-top: 7.8px;
  padding-bottom: 17.8px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 149.3%;
  color: #4A4D4A;
}

.header .search-input::placeholder {
  color: #4A4D4A;
}

.header .search-btn {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-contacts {
  margin-top: 10px;
  gap: 70px;
}

.header-search-contacts {
  margin-top: 10px;
}

.header-contacts-item {
  padding-left: 32px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 122%;
  color: #4A4D4A;
}

.header-contacts-item:nth-child(1) {
  background: url("../public/images/whatsapp.png") no-repeat;
}

.header-contacts-item:nth-child(2) {
  background: url("../public/images/email.png") no-repeat;
}

.header-contacts-item:nth-child(3) {
  width: 237px;
  margin-top: 17px;
  background: url("../public/images/location.png") no-repeat;
  font-weight: 600;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  color: #4A4D4A;
}

.header-contacts-item span {
  font-weight: 500;
  font-size: 16px;
}

.header-links {
  margin-top: 26px;
  padding-top: 18px;
  padding-bottom: 13px;
  background: #F0F0FF;
}

.header-links .nav-list-item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #4A4D4A;
}

.shop-info {
  margin-left: 42px;
}

.shop-info-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #4A4D4A;
}

.shop-info-title span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 44px;
  color: #FFAF37;
}

.shop-info-desc {
  width: 922px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #4A4D4A;
}

.shop-info-about {
  margin-top: 20px;
  padding-top: 214px;
  padding-left: 435px;
  padding-right: 70px;
  padding-bottom: 169.22px;
  background: url("../public/images/slide1.png") no-repeat;
}

.info-about-desc {
  width: 361px;
  font-weight: 500;
  font-size: 30px;
  line-height: 123.4%;
  text-align: center;
  color: #FFFFFF;
}

.info-about-link {
  width: 330px;
  display: block;
  margin: 22px auto;
  padding-top: 24px;
  padding-bottom: 24.58px;
  background-color: #FFAF37;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.shop-info-stat {
  margin-left: 160px;
  box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.3);
}

.info-stat-item {
  width: 90px;
  padding-top: 10px;
  padding-bottom: 30px;

}

.info-stat-item:nth-child(1) {
  border-top-left-radius: 10px;
  background: #1F347B;
  border: 1px solid #1F347B;
}

.info-stat-item:nth-child(2) {
  border-bottom: 1px solid #1F347B;
}

.stat-item-num {
  width: 19px;
  margin-left: 60px;
  padding-top: 1px;
  padding-bottom: 2px;
  border: 1px solid #FFAF37;
  border-radius: 50%;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
}

.info-stat-item:nth-child(2) .stat-item-num {
  background: #1F347B;
}

.info-stat-item img {
  display: block;
  width: 30px;
  margin: 5px auto;
  text-align: center;
}

.cbc-advantages {
  margin-top: 102px;
  margin-bottom: 102px;
  
}

.cbc-advantages .container {
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 10px;
}

.cbc-advantages-title {
  width: 330px;
  padding-top: 69px;
  padding-bottom: 70px;
  padding-left: 37px;
  padding-right: 37px;
  background: #F0F0FF;
  border: 1px solid #F0F0FF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 30px;
  line-height: 123.4%;
  text-align: center;
  color: #4A4D4A;
}

.direct-deliveries {
  width: 665px;
  padding-top: 22.88px;
  padding-bottom: 27px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #F0F0FF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.direct-deliveries-title {
    margin-top: 6.32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 122%;
    color: #4A4D4A;
}

.direct-deliveries-logos {
    margin-top: 75px;
    list-style-type: none;
}

.cbc-full {
  margin-top: 129px;
}
.cbc-full .container {
  gap: 20px;
}

.cbc-full-item {
   width: 690px;
   padding-top: 29px;
   padding-left: 15px;
   padding-right: 43px;
   background-color: #F0F0FF;
}

.full-item-img {
  margin-top: -34px;
}

.full-item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 122%;
  color: #4A4D4A;
  text-align: right;
}

.full-item-subtitle {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 21px;
  color: #4A4D4A;
}

.cbc-full-item:nth-child(1) .full-item-title {
   width: 322px;
   margin-left: 317px;
}

.cbc-full-item:nth-child(2) .full-item-title {
  width: 226px;
  margin-left: 275px;
}

.cbc-full-item:nth-child(1) .full-item-subtitle {
  width: 292px;
}

.cbc-full-item:nth-child(2) .full-item-subtitle {
  width: 251px;
 }

 .cbc-full-item:nth-child(2) .info-about-link {
  width: 268px;
 }

 .cbc-top {
    margin-top: 100px;
 }

 .cbc-top .container {
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 30px;
 }

 .all-categories {
   width: 324px;
   height: 268px;
   padding-top: 88px;
   padding-bottom: 89px;
   padding-left: 24px;
   padding-right: 23px; 
   border: 1px solid #F0F0FF;
   box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.25);
 }

 .all-categories a {
    display: block;
    width: 283px;
    padding-top: 26px;
    padding-bottom: 27px;
    background-color: #ffa500;
    border: 1px solid #ffa500;
    font-weight: 500;
    font-size: 14px;
    line-height: 122%;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.all-categories img {
  display: block;
  margin-top: 70px;
  margin-left: 236px;
}

.cbc-full-more {
  margin-top: 100px;
}

.cbc-full-more .container {
  gap: 30px;
}

.cbc-full-more .cbc-full-item:nth-child(1) .full-item-title {
    width: 520px;
    margin-left: 136px;
}

.cbc-full-more .cbc-full-item:nth-child(1) .full-item-subtitle {
    width: 400px;
}

.cbc-full-more .cbc-full-item:nth-child(2) .full-item-title {
  width: 269px;
  margin-left: 305px;
}

.cbc-full-more .cbc-full-item:nth-child(2) .full-item-subtitle {
  width: 263px;
}

.cbc-service {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 51px; 
  background: #F0F0FF;
}

.cbc-service .container {
  justify-content: space-around;
}

.cbc-service-title {
  width: 487px;
  font-weight: 500;
  font-size: 24px;
  line-height: 122%;
  color: #4A4D4A;
}

.cbc-service-subtitle {
  width: 383px;
  margin-top: 18px;
  font-size: 18px;
  line-height: 21px;
  color: #4A4D4A;
}

.cbc-service-more {
  display: block;
  width: 464px;
  margin-top: 18px;
  padding-top: 19px;
  padding-bottom: 18px;
  padding-right: 48px;
  background: url("../public/images/arrow1.png") no-repeat 95%;
  border: 2px solid #FFAF37;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #4A4D4A;
}

.cbc-consultation {
   margin-top: 100px;
}

.cbc-consultation-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #4A4D4A;
  text-align: center;
}

.cbc-consultation-subtitle {
  margin-top: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 122%;
  color: #4A4D4A;
  text-align: center;
}

.cbc-consultation-box {
   justify-content: space-around;
   margin-top: 30px;
   padding-left: 90px;
   padding-right: 115px;
   box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.25);
}

.cbc-consultation-fm input {
   width: 330px; 
   display: block;
   margin-bottom: 32px;
   padding-top: 26px;
   padding-bottom: 30px;
   padding-left: 15px;
   border: 1px solid #4A4D4A;
   outline: none;
   font-size: 14px;
   line-height: 149.3%;
   color: #4A4D4A;
}

.cbc-consultation-fm input::placeholder {
  color: #4A4D4A;
} 

.cbc-consultation-fm button {
  width: 330px;
  padding-top: 30px;
  padding-bottom: 29px;
  background: #FFAF37;
  border: 1px solid #FFAF37;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.cbc-location {
   margin-top: 100px;
   padding-top: 51px;
   padding-bottom: 53.06px;
}

.cbc-location .container {
  border: 6px solid #1F347B;
  border-radius: 20px;
}

.cbc-location-title {
  width: 421px;
  margin: 10px auto;
  font-weight: 500;
  font-size: 30px;
  line-height: 123.4%;
  text-align: center;
  color: #4A4D4A;
}

.cbc-location-box {
  justify-content: space-around;
  margin-top: 12px;
}

.cbc-location-list {
    list-style-type: none;
}

.location-list-item {
  margin-top: 18px;
  padding-left: 34px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4A4D4A
}

.location-list-item:nth-child(1) {
  background: url("../public/images/location.png") no-repeat;
}

.location-list-item:nth-child(2) {
  background: url("../public/images/phone.png") no-repeat;
}

.location-list-item:nth-child(3) {
   background: url("../public/images/email.png") no-repeat;
   line-height: 19px;
}

.location-list-item:nth-child(4) {
  background: url("../public/images/whatsapp.png") no-repeat;
}

.location-list-item:nth-child(5), .location-list-item:nth-child(6) {
  background: url("../public/images/hours.png") no-repeat;
}

.cbc-location-map {
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.catalog-wrap {
  margin-left: -254px;
}

.catalog-wrap .container {
  gap: 50px;
}

.catalog-caption {
  gap: 50px;
}

.product-list {
  margin-top: 100px;
  gap: 50px;
  flex-wrap: wrap; 
} 

.product-see-more {
  display: block;
  width: 999px;
  margin-top: 30px;
  padding-top: 9px;
  padding-bottom: 10px;
  background: #FFFFFF url("../public/images/more.png") no-repeat 44%;
  border: 0.4px solid #4A4D4A;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4A4D4A;
  cursor: pointer;
}